*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilory;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(183, 212, 222);
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#nav h3{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    background-color:  white;
}
#nav-part1 i{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 70px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 300;
    background-color: white;
}

#main>h1{
    font-size: 130px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 370px;
    width: 280px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-45%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-21deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-14deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-7deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(0deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 30px;
    font-weight: 10;
} 
#part4{
    position: absolute;
    bottom: 15px;
    font-size: 80px;
    font-weight: 300;
    padding: 10px;
}
